<p>
    <a href="{% url 'rate-list' %}" style="background-color: white">Rates</a>
    <a href="{% url 'contactus-list' %}" style="background-color: white">ContactUs</a>
    <a href="{% url 'source-list' %}" style="background-color: white">Sources</a>
    ||
    <a href="{% url 'rate-create' %}" style="background-color: white">RateCreate</a>
    <a href="{% url 'source-create' %}" style="background-color: white">SourceCreate</a>
    <a href="{% url 'contactus-create' %}" style="background-color: white">ContactUsCreate</a>
<p>