<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">Currency</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'rate-list' %}">Rates <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'source-list' %}">Sources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contactus-list' %}">ContactUs</a>
      </li>
        {% if request.user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% elif  request.user.is_anonymous %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">SignUp</a>
            </li>
        {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Create
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'rate-create' %}">Create new Rate</a>
          <a class="dropdown-item" href="{% url 'source-create' %}">Create new Source</a>
          <a class="dropdown-item" href="{% url 'contactus-create' %}">Create new ContactUs</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

