django==4.2.7
django-extensions
django-filter
djangorestframework
djangorestframework-simplejwt
drf-yasg

ipython
Celery

#flake8
flake8
flake8-builtins
flake8-print

django-crispy-forms
crispy-bootstrap4

names