{% extends "base.html" %}

{% block title %}
    Contact Us List
{% endblock title %}

{% block content %}

    <table>
  <tr>
    <th style="background-color: yellow">ID</th>
      <th style="background-color: yellow">NAME</th>
    <th style="background-color: yellow">FROM</th>
    <th style="background-color: yellow">SUBJECT</th>
  </tr>
       {% for message in contactus_list %}
  <tr>
    <td>{{message.id}}</td>
    <td>{{message.name}}</td>
    <td>{{message.email_from}}</td>
    <td>{{message.subject}}</td>
      <td><a href="{% url 'contactus-update' message.id %}">Update</a></td>
    <td><a href="{% url 'contactus-delete' message.id %}">Delete</a></td>
    <td><a href="{% url 'contactus-retrieve' message.id %}">Details</a></td>
  </tr>
        {% endfor %}
</table>

{% endblock content %}