{% extends "base.html" %}

{% block title %}
    Contact Us List
{% endblock title %}

{% block content %}

    <table>
  <tr>
    <th style="background-color: yellow">ID</th>
    <th style="background-color: yellow">FROM</th>
    <th style="background-color: yellow">SUBJECT</th>
    <th style="background-color: yellow">MESSAGE</th>
  </tr>
       {% for message in messages %}
  <tr>
    <td>{{message.id}}</td>
    <td>{{message.email_from}}</td>
    <td>{{message.subject}}</td>
    <td>{{message.message}}</td>
  </tr>
        {% endfor %}
</table>

{% endblock content %}