{% extends "base.html" %}

{% block title %}
    Rate List
{% endblock title %}

{% block content %}

    <table>
  <tr>
    <th style="background-color: yellow">ID</th>
    <th style="background-color: yellow">TYPE</th>
    <th style="background-color: yellow">BUY</th>
    <th style="background-color: yellow">SELL</th>
    <th style="background-color: yellow">SOURCE</th>
  </tr>
       {% for rate in object_list %}
  <tr>
    <td>{{rate.id}}</td>
    <td>{{ rate.get_rate_type_display }}</td>
    <td>{{rate.buy}}</td>
    <td>{{rate.sell}}</td>
    <td>{{rate.source.name}}</td>
    {% if request.user.is_superuser %}
      <td><a href="{% url 'rate-update' rate.id %}">Update</a></td>
      <td><a href="{% url 'rate-delete' rate.id %}">Delete</a></td>
    {% endif %}
    {% if request.user.is_authenticated %}
      <td><a href="{% url 'rate-retrieve' rate.id %}">Details</a></td>
    {% endif %}
  </tr>
        {% endfor %}
</table>

{% endblock content %}
