{% extends "base.html" %}

{% block title %}
    Rate List
{% endblock title %}

{% block content %}

    <table>
  <tr>
    <th style="background-color: yellow">ID</th>
    <th style="background-color: yellow">NAME</th>
    <th style="background-color: yellow">TYPE</th>
  </tr>
       {% for source in source_list %}
  <tr>
    <td>{{source.id}}</td>
    <td>{{source.name}}</td>
    <td>{{source.source_type}}</td>
    <td><a href="{% url 'source-update' source.id %}">Update</a></td>
    <td><a href="{% url 'source-delete' source.id %}">Delete</a></td>
    <td><a href="{% url 'source-retrieve' source.id %}">Details</a></td>

  </tr>
        {% endfor %}
</table>

{% endblock content %}